<table class="border-collapse border-2 border-gray-500 table-auto" width="100%">
  <thead>
  <tr>
    <th class="text-left p-2 bg-gray-200">Age-group (Years)</th>
    <th class="text-right p-2 bg-gray-200">% Symptomatic Cases Requiring Hospitalisation</th>
    <th class="text-right p-2 bg-gray-200">% Hospitalised Cases Requiring Critical Care</th>
    <th class="text-right p-2 bg-gray-200">Infection Fatality Ratio</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-left p-2">0 to 9</td>
      <td class="text-right p-2">0.1%</td>
      <td class="text-right p-2">5.0%</td>
      <td class="text-right p-2">0.002%</td>
    </tr>
    <tr class="bg-gray-100">
      <td class="text-left p-2">10 to 19</td>
      <td class="text-right p-2">0.3%</td>
      <td class="text-right p-2">5.0%</td>
      <td class="text-right p-2">0.006%</td>
    </tr>
    <tr>
      <td class="text-left p-2">20 to 29</td>
      <td class="text-right p-2">1.2%</td>
      <td class="text-right p-2">5.0%</td>
      <td class="text-right p-2">0.03%</td>
    </tr>
    <tr class="bg-gray-100">
      <td class="text-left p-2">30 to 39</td>
      <td class="text-right p-2">3.2%</td>
      <td class="text-right p-2">5.0%</td>
      <td class="text-right p-2">0.08%</td>
    </tr>
    <tr>
      <td class="text-left p-2">40 to 49</td>
      <td class="text-right p-2">4.9%</td>
      <td class="text-right p-2">6.3%</td>
      <td class="text-right p-2">0.15%</td>
    </tr>
    <tr class="bg-gray-100">
      <td class="text-left p-2">50 to 59</td>
      <td class="text-right p-2">10.2%</td>
      <td class="text-right p-2">12.2%</td>
      <td class="text-right p-2">0.60%</td>
    </tr>
    <tr>
      <td class="text-left p-2">60 to 69</td>
      <td class="text-right p-2">16.6%</td>
      <td class="text-right p-2">27.4%</td>
      <td class="text-right p-2">2.2%</td>
    </tr>
    <tr class="bg-gray-100">
      <td class="text-left p-2">70 to 79</td>
      <td class="text-right p-2">24.3%</td>
      <td class="text-right p-2">43.2%</td>
      <td class="text-right p-2">5.1%</td>
    </tr>
    <tr>
      <td class="text-left p-2">80+</td>
      <td class="text-right p-2">27.3%</td>
      <td class="text-right p-2">70.9%</td>
      <td class="text-right p-2">9.3%</td>
    </tr>
  </tbody>
</table>
