---
permalink: barChartData.js
---

const barChartData = {
  labels: {{ stats | map("date") | dump | safe }},
  datasets: [
    {
      label: "Confirmed",
      data: {{ stats | map("stats.Confirmed") | dump | safe }},
      backgroundColor: '#eee', // yellow-400
      stack: "one"
    },
    {
      label: "Recovered",
      data: {{ stats | map("stats.Recovered") | dump | safe }},
      backgroundColor: '#8cc63f', // green-500
      stack: "one"
    },
    {
      label: "Deaths",
      data: {{ stats | map("stats.Deaths") | dump | safe }},
      backgroundColor: '#000', // red-600
      stack: "one"
    }
  ]
};
